<h1>Welcome Home</h1>
<div ng-if="authentication.isAuthed">
	<button ng-if="!newPal" ng-click="findFriendIn(userInfo.location, userInfo.username)">Find a new friend in {{userInfo.location}}</button>
	<input type="text" ng-model="interestInput" placeholder="interest">
	<button ng-click="submitInterest(interestInput, authentication.userInfo._id)">Add a new interest</button>
	<div ng-repeat="interest in userInfo.interests track by $index">
		<button ng-click="findByCityAndInterest(userInfo.location, interestInput,  userInfo.username)">
			Find a fan of {{interest}}
		</button>
	</div>
	<div ng-if="userInfo.alerts.length">
		You got alerted by:
		<div  ng-repeat="alert in userInfo.alerts track by $index">
			{{alert}}
		</div>
	</div>
	<div ng-if="newPal">
		Your new pal is {{newPal.username}}!
		<button ng-click="findFriendIn(userInfo.location, userInfo.username)">Find a new pal</button>
	</div>
</div>
