<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <meta charset="UTF-8">
  <title>Random Encounter Club</title>
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="https://js.arcgis.com/3.15/esri/css/esri.css">
</head>
<body ng-app="randomEncounter" ng-controller="MasterController">
  <!-- <h1>Random Encounter Club</h1> -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Random Encounter Club</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a ui-sref="home">Home</a></li>
          <li><a ui-sref="userpage">Find</a></li>
          <!-- <ul class="nav navbar-nav" ng-if="!loggedIn"> -->
            <li><a ui-sref="login">Login</a></li>
            <li><a ui-sref="register">Register</a></li>
          <!-- </ul> -->
          <li><a ui-sref="map">Map</a></li>
          <li><a ng-click="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div ui-view></div>
  <script src="https://js.arcgis.com/3.15/"></script>
  <script src="assets/angular/angular.min.js"></script>
  <script src="assets/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="assets/angular-cookies/angular-cookies.min.js"></script>
  <script src="assets/angular-jwt/dist/angular-jwt.min.js"></script>
  <script src="assets/jquery/dist/jquery.min.js"></script>
  <script src="assets/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bundle.js"></script>
</body>
</html>
